
.works
  display: none  
@media screen and (min-width: 1158px) 
  .works
    display: block
    padding-bottom: 120px

  .title_works
    font-family: "Roboto", sans-serif
    text-align: center
    font-weight: 700
    font-size: 36px
    color: var(--navyblue)
    text-transform: capitalize
    line-height: 1.11
    margin-bottom: 72px

  .works_list
    display: flex

  .work_photo
    display: block
    width: calc((100% - 48px) / 3)

    &:not(:last-child)
      margin-right: 24px